#detalle{
    padding-top: 150px;
    padding-bottom: 70px;
}

#ItemDetail {
    background-color: rgb(61, 60, 60);
    color: white;
    text-shadow: 1px 2px 4px black;
    margin: 0 auto;
    width: 70%;
    border: 3px solid gray;
}

.ItemContenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img.imagenDeProducto {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.productName{
    font-size: 34px;
    padding: 0;
}

.price{
    font-size: 28px;
}

.stock{
    font-size: 24px;
}