.btn-comprar{
    background-color: rgb(146, 146, 146);
    color: white;
    border-radius: 30px;
    font-weight: bold;
    height: 50px;
    width: 200px;
}

.btn-comprar:hover {
    cursor: pointer;
}