header.css-hip9hq-MuiPaper-root-MuiAppBar-root  {
    position: fixed;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: rgb(116, 55, 136);
    z-index: 100;

}

header.css-hip9hq-MuiPaper-root-MuiAppBar-root img{
    width: 70px;
    padding: 4px;
    padding-top: 6px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-top: 0px;
    padding-left: 24px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

div.dropdown{
    float: left;
    overflow: hidden;
}

div.dropdown-content{

    display: none;
    position: absolute;

}
button.boton-dropdown{
    float: none;
    background-color: rgb(93, 41, 111);


    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content{
    animation: fadein 0.2s ease-in-out forwards;

    display: block;
    background-color: rgb(93, 41, 111);
}

.cart-icon{
    font-size: 30px;
    display: flex;
    justify-content: end;
}